body{
    margin: 0px;
  }
  @font-face {
      font-family: "Metropolis-Regular";
      src: url("https://anima-uploads.s3.amazonaws.com/projects/63ad60f57bf9f04770915cde/fonts/metropolis-medium.otf")
        format("opentype");
  }
  .skeleton {
      align-items: center; /* Add this line to center the content horizontally */
      background-color: #F2F0EB;
      width: 100%;
  }
  .menu-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #0D0D0D;
      width: inherit;
      height: 50px;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    gap: 100px;
    position: relative;
    list-style: none;
    color: rgba(255, 255, 255, 1);
  }
  
  .link {
    font-family: "Inter", Helvetica;
    text-decoration: none;
    opacity: 0.5;
    color: #F2F0EB;
    font-size: 15px;
    padding: 0.5rem;
    position: relative;
  }
  
  .link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #F2F0EB;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
  }
  
  .link::before {
    bottom: 0;
    left: 0;
  }
  
  .link:hover::before {
    transform: scaleX(1);
  }
  .menu .link.active{
    opacity: 1;
  }
  .logo {
    color: #F2F0EB;
    font-size: 25px;
  }
  .logo {
    transition: 0.35s ease;
  }
  .logo:hover {
    opacity: 0.5;
  }
  
  .footer {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      background-color: #0D0D0D;
      width: inherit;
  }
  .contact {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 40px;
   padding: 7px;
  }
  .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  gap: 10px;
  }
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .footer-text {
    font-family: "Inter", Helvetica;
    text-decoration: none;
    color: #F2F0EB;
    font-size: 15px;
    padding: 0.5rem;
    position: relative;
  }
  
  
  @media (max-width:940px) {
    body{
      margin: 0px;
    }
    @font-face {
        font-family: "Metropolis-Regular";
        src: url("https://anima-uploads.s3.amazonaws.com/projects/63ad60f57bf9f04770915cde/fonts/metropolis-medium.otf")
          format("opentype");
    }
    .skeleton {
        display: flex;
        flex-direction: column;
        align-items: center; /* Add this line to center the content horizontally */
        background-color: #F2F0EB;
        gap: 90px;
        width: 100%;
  
    }
    .menu-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0D0D0D;
        width: inherit;
        height: 50px;
    }
    
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 0px;
      gap: 30px;
      position: relative;
      list-style: none;
      color: rgba(255, 255, 255, 1);
    }
    
    .link {
      font-family: "Inter", Helvetica;
      text-decoration: none;
      color: #F2F0EB;
      font-size: 13px;
      padding: 0.5rem;
      position: relative;
    }
    
    .link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: #F2F0EB;
      border-radius: 5px;
      transform: scaleX(0);
      transition: all 0.6s ease;
    }
  
    .link::before {
      bottom: 0;
      left: 0;
    }
    
    .link:hover::before {
      transform: scaleX(1);
    }
    .logo {
      color: #F2F0EB;
      font-size: 20px;
    }
    .logo {
      transition: 0.35s ease;
    }
    .logo:hover {
      opacity: 0.5;
    }
    
    .footer {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        background-color: #0D0D0D;
        width: inherit;
    }
    .contact {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 5px;
     padding: 7px;
    }
    .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    gap: 5px;
    }
    .logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .footer-text {
      font-family: "Inter", Helvetica;
      text-decoration: none;
      color: #F2F0EB;
      font-size: 11px;
      padding: 0.5rem;
      position: relative;
    }
    
  }
  @media (max-width:545px) {
    body{
      margin: 0px;
    }
    @font-face {
        font-family: "Metropolis-Regular";
        src: url("https://anima-uploads.s3.amazonaws.com/projects/63ad60f57bf9f04770915cde/fonts/metropolis-medium.otf")
          format("opentype");
    }
    .skeleton {
        display: flex;
        flex-direction: column;
        align-items: center; /* Add this line to center the content horizontally */
        background-color: #F2F0EB;
        gap: 75px;
        width: 100%;
    }
    .menu-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #0D0D0D;
        width: inherit;
        height: 50px;
    }
    
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0px;
      gap: 8px;
      position: relative;
      list-style: none;
      color: rgba(255, 255, 255, 1);
    }
    
    .link {
      font-family: "Inter", Helvetica;
      text-decoration: none;
      color: #F2F0EB;
      font-size: 8px;
      padding: 0.5rem;
      position: relative;
    }
    
    .link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: #F2F0EB;
      border-radius: 5px;
      transform: scaleX(0);
      transition: all 0.6s ease;
    }
    
    .link::before {
      bottom: 0;
      left: 0;
    }
    
    .link:hover::before {
      transform: scaleX(1);
    }
    .logo {
      color: #F2F0EB;
      font-size: 15px;
    }
    .logo {
      transition: 0.35s ease;
    }
    .logo:hover {
      opacity: 0.5;
    }
    
    .footer {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        background-color: #0D0D0D;
        width: inherit;
    }
    .contact {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 5px;
     padding: 7px;
    }
    .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    gap: 5px;
    }
    .logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .footer-text {
      font-family: "Inter", Helvetica;
      text-decoration: none;
      color: #F2F0EB;
      font-size: 5px;
      padding: 0.5rem;
      position: relative;
    }
    
  }

  
  
  
  
  